<footer class="footer">
    <div class="social">
        <a target="_blank" href="https://web.facebook.com/profile.php?id=100001788961082"><i class="fab fa-facebook-f"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/ahmed-mohammed-04a946202/"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-google-plus-g"></i></a>
    </div>
    <ul class="list">
        <li><a href="/">HOME</a></li>
        <li><a href="#">SERVICES</a></li>
        <li><a href="#about">ABOUT</a></li>
        <li><a href="/products">products</a></li>
        
       
    </ul>
    <p class="copyright"> copyright &copy; 2021  Masker  </p>
</footer>

<!-- import jquery and popper and bootstrap -->
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
<script src="/js/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>


</body>

</html>